@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

/* media/ responsive for small dstp  */

@media only screen and (max-width: 767px) {
  #navbar {
    display: none;
  }
  .skills-col {
    flex: unset !important;
  }
  .portf-d-flex{
    flex-direction: column;
}
#header .portf-d-flex{
    flex-direction: inherit;
}
#menu-icon {
    display: block !important;
  }

  .contact form .input-box .input-field {
    width: 100% !important;
  }
}

@media only screen and (max-width: 576px) {
  #banner-content h1 {
    font-size: 3rem !important;
    line-height: 40px !important;
  }
  section {
    padding: 7rem 0px;
  }
  .header {
    background-color: #000 !important;
    z-index: 9999999 !important;
  }
}